
body{
  font-size:25px;
}
#intro{
  padding:20px; 
}
h1{
  margin:0px;
}
#character {
  border:inset white 2px;
  padding:20px;
}
.astronaut{
  margin-top:30px;
  margin-bottom:30px; 
}
a {
  color:white;
  font-size:30px;
}
