body {
 height:100%; 
}
html{
  height:100%;
}


h1 {
  color: fuchsia;
  font-size:40px;

}



#container1 {
  border:groove black 2px;
  height:2%;
background-color:green;
  margin-bottom:10px;

}

#container2 {
  
  height:400px;
 background-color:blue;
 
  display:flex;
  flex-wrap:wrap;
  margin-bottom:10px;
}

#container3 {
  border:groove black 2px;
  height:200px;
  background-color:pink;
}

.c21{
  border:groove black 2px;
  background-color:red;
  margin-right:10px;
  height:100%;
  width:20%;
  box-sizing: border-box;
}
.c22{
  border:groove black 2px;
  background-color:blue;
  box-sizing: border-box;
  height:100%;
  width:79.2%;
}