body {
  height:100%;
  background-color: black;
  color: white;
  font-family: Poppins;
}
html{
  height:100%;
}

#progressBar {
  border: white 2px;
  height:3%;
  margin-bottom:10px;

}

#centre {
  
  height:57%;
 
 
  display:flex;
  flex-wrap:wrap;
  margin-bottom:10px;
}

#text {
  height:40%;

}

.history{
  border:inset white 2px;
  margin-right:1%;
  height:100%;
  width:19%;
  box-sizing: border-box;
}
.visual{
  border:inset white 2px;
  box-sizing: border-box;
  height:100%;
  width:80%;
  background-repeat: no-repeat; 
  background-image: 
    url("http://www.hpcf.upr.edu/~abel/phl/SER_Gliese667Cc_With_Stars.jpg");
  
}

p{
  margin:0px;
}

.dialogue{
 border:inset white 2px;
  box-sizing: border-box;
  min-height:50%;
  font-size:20px;
  margin:auto;
  padding:20px;
}

.choice{
  margin-top:10px;
 border:inset white 2px;
  box-sizing: border-box;
  min-height:49%;
  font-size:20px;
  padding:20px;
}


.choiceItem {
  font-size:20px;
  padding:20px;
  transition-duration: 0.2s;
}
.choiceItem:hover {
  color:black;
    background-color: #CCFFFF; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0 6px 20px 0 rgba(0,0,0,30);
}
.choiceItem:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#subject{
  zoom: 50%;
}

